.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-width: 300px;
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
}

.qr-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.title {
    font-size: 22px;
    text-align: center;
}

.text {
    font-size: 15px;
    text-align: center;
    margin: 0 0 30px;
    font-weight: 500;
    color: dimgrey;
}

.text-container {
    max-width: 280px;
}